<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
	<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>Title</title>
</head>
<body>
    <div class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">吴迪文<b class="caret"></b></a>
        <ul class="dropdown-menu">
            <li >庞婷</li>
        </ul>
    </div>

</body>
</html>